# DATABASE
#DATABASE_URL="mysql://user:password@host:port/db"
#DATABASE_USER="user"
#DATABASE_PASSWORD="password"
#DATABASE_NAME="db"
#DATABASE_HOST="host"
#DATABASE_PORT="port"

# MAILING
#RESEND_API_KEY="re_Mn2pM..."
#NEXT_PUBLIC_RESEND_FROM="from..."

# MESSAGING
#WABA_VERSION="v25.0"
#WABA_URL="https://graph.facebook.com"
#WABA_API_KEY="E1IOvrzgws73prnZANVZAQ..."
#WABA_PHONE_NUMBER_ID="5474573457347..."
#WABA_ACCOUNT_ID="4753734754734..."

# AUTOMATION
#CRON_SECRET="codig-generado-secreto-y-unico"

# SECRET TOKEN
#JWT_SECRET="A3pR8nfDtSMo2zVpMTbPYe4UqERhGc6e9vLVS1rGtSk="

# VPS CONFIG
#NEXT_PUBLIC_VPS_URL="vps_domain"